@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvido por Gerson Batista </p>

<address>
    <strong>More information: </strong> <a href="http://bgerson003.com.br">www.bgerson003.com.br</a>
</address>